.home .text-container {
  max-width: 540px;
  padding-left: 0;
  margin-left: -80px;
}

.home .text-container h1 {
  font-size: 100px;
  line-height: 140px;
}

.home .image-container img {
  width: 575x;
}

.underline {
  background: linear-gradient(178deg, transparent 85%, #edb822 0);
  height: 100px;
}

/* -------------------------- */
/* story */
/* -------------------------- */

.story {
  background: #282828;
  padding: 65px 0 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story .container {
  display: flex;
  flex-direction: column;
  width: 713px;
  color: #e6e4e4;
  font-size: 20px;
  line-height: 37px;
  font-weight: 200;
}

.story .header {
  margin-top: 15px;
}

.story h1 {
  color: #e7e6e6;
  font-weight: 400;
  font-size: 34px;
}

/* -------------------------- */
/* time-line*/
/* -------------------------- */

.timeline {
  padding: 65px 0 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline .header h1 {
  font-size: 47px;
  font-weight: 500;
  margin: 65px 0;
}

.timeline .container {
  display: flex;
  flex-direction: column;
  width: 1150px;
}

.timeline ul {
  list-style: none;
  width: 100%;
  height: 200px;
  margin: 200px 0 0;
  border-top: 3px solid #fbc54b;
  display: table;
  border-spacing: 30px 0;
}

.timeline ul li {
  display: table-cell;
  position: relative;
  min-width: 100px;
}


.timeline .circle {
  margin: 0 auto;
  top: -12px;
  left: 0;
  right: 0;
  width: 14px;
  height: 14px;
  background: #fffff0;
  border: 2px solid #f98262;
  border-radius: 50%;
  display: block;
  position: absolute;
}

.timeline .circle.fill {
  background: #f98262;
}

.timeline .content {
  text-align: center;
  position: relative;
  width: 50px;
  height: 100px;
  left: 50%;
  margin-left: -2px;
  position: absolute;
  border-left: 3px solid #f98262;
}

/* .timeline li.down .content:before {
  content: "";
  width: 50px;
  height: 100px;
  left: 50%;
  margin-left: -2px;
  position: absolute;
  border-left: 4px solid #f98262;
  border-bottom: 4px solid #f98262;
  -webkit-border-radius: 0 20px;
  -moz-border-radius: 0 20px;
  border-radius: 0 20px;
} */

.timeline li.down .content:before.avatar {
  top: 80px;
  left: 100px;
}

.timeline .avatar {
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 50%;
  border: 6px solid #bada55;
  position: absolute;
  margin: 0 auto;
  bottom: -13px;
  right: 31px;
  text-align: center;
  line-height: 30px;
  background: #fffff0;
}



.timeline li.up .content {
  margin-top: -106px;
}

.timeline li.up .content:before {
  border-left: 4px solid #f98262;
}


.timeline .date {
  margin-top: 106px;
}

.timeline .date .avatar {
  background: #fffff0;
  margin-top: -30px;
}

.timeline .rectangle {
  border: 1px solid #f98262;
  border-radius: 30px;
  height: 30px;
  width: 200px;
  top: -19px;
  position: relative;
  background: #fffff0;
  line-height: 30px;
  text-align: center;
}


/* -------------------------- */
/* ready-to-start*/
/* -------------------------- */

.ready-to-start {
  background-color: #282828;
  padding: 150 0 125px 0;
}

.ready-to-start .content {
  padding-left: 65px;
}

.ready-to-start .ready {
  color: #f3b85b;
}

.ready-to-start .txt {
  color: #e5e5e5;
}