.home .text-container {
  max-width: 540px;
}

.home .text-container h1 {
  font-size: 100px;
  line-height: 140px;
}

.home .image-container img {
  width: 575x;
}

.underline {
  background: linear-gradient(178deg, transparent 85%, #edb822 0);
  height: 100px;
}

/* -------------------------- */
/* story */
/* -------------------------- */

.story {
  background: #282828;
  padding: 65px 0 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story .container {
  display: flex;
  flex-direction: column;
  width: 713px;
  color: #e6e4e4;
  font-size: 20px;
  line-height: 37px;
  font-weight: 200;
}

.story .header {
  margin-top: 15px;
}

.story h1 {
  color: #e7e6e6;
  font-weight: 400;
  font-size: 34px;
}



.more-info {
  padding-top: 145px;
  padding-bottom: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
}

.more-info .row {
  display: flex;
}

.more-info .row {
  display: flex;
  width: 1060px;
}

.more-info .txt-wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.more-info h3 {
  color: #2e2d2b;
  font-size: 32px;
  display: flex;
  flex-direction: column;
}

.more-info .txt {
  font-size: 18px;
  line-height: 36px;
  max-width: 500px;
  color: #6f6f6f;
}

.more-info .img-wrap {
  width: 425px;
}

.more-info .row.middle {
  margin-top: 115px
}

.more-info .row.middle .img-wrap {
  width: 400px;
}

.more-info .row.middle .txt-wrap {
  margin-left: 215px
}

.more-info .img1 {
  width: 330px;
}

.more-info .img2 {
  width: 415px;
  margin-top: 90px;
}



/* -------------------------- */
/* ready-to-start*/
/* -------------------------- */

.ready-to-start {
  background-color: #282828;
  padding: 150 0 125px 0;
}

.ready-to-start .content {
  padding-left: 65px;
}

.ready-to-start .ready {
  color: #f3b85b;
}

.ready-to-start .txt {
  color: #e5e5e5;
}