.home .text-container {
  margin-right: 100px;
}

.home .image-container {
  margin-right: -60px;
}

.home .image-container img {
  width: 540px;
}

.pricing {
  background: #282828;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  max-width: 850px;
}

.pricing .header h1 {
  font-size: 31px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  color: #bbbbbb;
}

.pricing .header h3 {
  color: #bcbcbc;
  font-size: 18px;
  font-weight: 200;
  text-transform: uppercase;
}

.tab-pricing {
  border: 1px solid gray;
  width: 200px;
  border-radius: 20px;
  height: 40px;
  display: flex;
  margin-top: 35px;
}

/* 
.tab-pricing .tab {
  color: #fff;
  font-size: 17px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.tab-pricing .tab.selected {
  color: #000;
  background-color: #ebb35a;
}

.tab-pricing .tab.annual {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.tab-pricing .tab.monthly {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
} */

.pricing .container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
  margin: 65px 0 110px 0px;
}

.pricing .table {
  display: flex;
}

.pricing .table .col {
  position: relative;
  width: 325px;
  background-color: #494949;
  height: 580px;
  margin: -7px 15px;
  border-radius: 15px;
  border: 1px solid #f0c0798c;
}

.pricing .table .col .title {
  font-weight: 400;
  font-size: 22px;
  color: #c7c6c6;
  display: flex;
  justify-content: center;
  padding: 55px 0 0px 0;
  border-top-left-radius: 13px;
  border-top-right-radius: 15px;
  color: #fcfcfc;
}

.pricing .most_popular {
  position: absolute;
  left: 50%;
  top: -18px;
  transform: translate(-50%, 0);
  box-sizing: border-box;
  z-index: 2;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  padding-bottom: 12px;
  padding-right: 14px;
  width: 289px;
  height: 57px;
  background: url(images/design/top_fold.png) left top / 100% auto no-repeat;
}

.pricing .table .col .title.bold {}

.pricing .price-wrap {
  display: flex;
  padding: 35px 0 0 0;
  justify-content: center;
  color: #fff;
}

.pricing .currency {
  font-size: 23px;
  font-weight: 200;
  padding-top: 13px;
  padding-right: 5px;
}

.pricing .price {
  font-weight: 400;
  font-size: 45px;
  padding: 20px 0 35px 0;
}

.pricing .price-wrap .desc {
  font-weight: 300;
  font-size: 20px;
  color: #b4b4b4;
  padding-left: 5px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 25px;
}

.pricing .col.standard {
  position: relative;
  border: 1px solid #f0c0798c;
}

.pricing .items {
  display: flex;
  flex-direction: column;
}

.pricing .items .item {
  display: flex;
  justify-content: center;
  padding: 13px 0;
}

.pricing .items .item .txt {
  color: #cbcbcb;
  padding-left: 10px;
  font-size: 16px;
  font-weight: 300;
}

.pricing .action-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  /* position: absolute;
  bottom: 63px;
  width: 100%; */
}

.pricing .btn-action {
  width: 196px;
  border-radius: 20px;
  height: 30px;
  background-color: #7e7d7d;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  cursor: pointer
}


.pricing .btn-action:hover {
  background-color: #a09e9e;
}

.pricing .btn-action.bold {
  background-color: #ffdc8b;
  background-image: linear-gradient(168deg, #eb8494, #fabc2d);
}

.pricing .btn-action.bold:hover {
  background-color: #ffdc8b;
  background-image: linear-gradient(168deg, #fabc2d, #eb8494);
}

.faq {
  background: #f5f5f5;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq h1 {
  font-size: 40px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  color: #282727;
}


.faq .container {
  width: 800px;
  margin: 60px 0 185px 0;
}

.faq .item {
  display: flex;
  border-bottom: 1px solid #d2d2d2;
  padding: 30px 0;
}

.faq .item .question {
  display: flex;
  align-items: center;
  font-weight: 200;
  font-size: 24px;
  flex: 1;
}

.faq .arrow {
  display: flex;
  align-items: center;
}

.faq .arrow svg {
  width: 24px;
  height: 24px;
}

/* -------------------------- */
/* ready-to-start*/
/* -------------------------- */

.ready-to-start {
  background-color: #282828;
  padding: 150 0 125px 0;
}

.ready-to-start .content {
  padding-left: 65px;
}

.ready-to-start .ready {
  color: #f3b85b;
}

.ready-to-start .txt {
  color: #e5e5e5;
}