@import "/styles/style.css";

body {
  background-color: black;
}

.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 74rem;
  margin-bottom: 140px;
  margin-top: 180px;
  justify-content: center;
  align-items: center;
  align-self: center;
  position: relative;
  * {
    animation:
      fadeIn 1s,
      slideIn 1.5s;
  }

  img {
    padding-top: 80px;
  }

  .background {
    position: absolute;
    height: 460px;
    width: 100%;
    top: 0;
    background-size: 40px 40px;
    background-image: radial-gradient(
      circle at 1px 1px,
      rgb(103, 103, 103) 1px,
      transparent 0px
    );
    background-position: center center;
    transform: translateZ(-500px);
    z-index: -1;
  }

  .title {
    text-align: center;
    text-shadow:
      1px 1px 0px #0000001a,
      -1px -1px 0px #ffffff33;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #ffffff80;
    font-family: Poppins;
    font-size: 72px;
    line-height: 80px;
    letter-spacing: -1.8px;
    background: linear-gradient(135deg, #fff 30%, #ffffff80 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 40px;
    padding-bottom: 20px;

    .br {
      height: 0;
      display: none;
    }
  }
  .subtitle {
    color: #eff5ffb0;
    text-align: center;
    font-family: Poppins;
    font-size: 17px;
    width: 851px;
    line-height: 30px;
  }
}

.our-team {
  background: black;
  padding-top: 90px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    margin-left: -35px;
    &.visible {
      transform: translateY(0);
    }
  }
}

.our-story {
  padding-top: 70px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    color: #fcfdfff0;
    text-align: center;
    font-family: Poppins;
    font-size: 45px;
    font-weight: 400;
    letter-spacing: -0.9px;
    padding-bottom: 40px;
  }

  p {
    color: #eff5ffb0;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.45px;
    width: 822px;
  }
  strong {
    color: #fcfdfff0;
    font-family: Poppins;
    font-size: 21px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.45px;
  }
}

.contact-us {
  padding-top: 70px;
  max-width: 760px;
  align-self: center;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 100px;
  margin-bottom: 150px;
  position: relative;
  .title {
    text-align: center;
    text-shadow:
      1px 1px 0px #0000001a,
      -1px -1px 0px #ffffff33;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #ffffff80;
    font-family: Poppins;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 67.2px;
    letter-spacing: -1.4px;
    background: linear-gradient(135deg, #fff 30%, #ffffff80 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .subtitle {
    padding-top: 30px;
    color: #c9d3e4;
    width: 78%;
    font-family: Poppins;
    font-size: 19.1px;
    line-height: 30.8px;
    letter-spacing: -0.18px;
    text-align: center;
  }

  .btn {
    margin-top: 30px;
    border-radius: 100px;
    border: 1px solid #e5e7eb;
    background: #fff;
    height: 57px;
    width: 164px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    transition: 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
      background-color: #f0f0f0;
      scale: 1.02;
    }
    svg {
      margin-top: 2px;
      margin-right: -15px;
    }
  }
}

@media (max-width: 1024px) {
  .about {
    .background {
      display: none;
    }
    img {
      scale: 0.8;
    }
    .title {
      width: 80%;
      font-size: 100px;
      line-height: 100px;
      padding-top: 0px;
    }
    .subtitle {
      width: 87%;
    }
  }
}

@media (max-width: 750px) {
  .about {
    .title {
      font-size: 86px;
      line-height: 80px;
    }
    .subtitle {
      font-size: 16px;
      line-height: 25px;
    }
  }
}

@media (max-width: 630px) {
  .about {
    .title {
      width: 100%;
      font-size: 70px;
      line-height: 70px;
    }
  }
}

@media (max-width: 420px) {
  .about {
    .title {
      .br {
        display: flex;
      }
      font-size: 80px;
      line-height: 80px;
      margin-top: -15px;
      margin-bottom: 5px;
    }
  }
}
