nav {
  width: 80%;
  max-width: 1140px;
  border-radius: 32px;
  background: #111111cc;
  backdrop-filter: blur(10px);
  border: 1px solid #ffffff1a;
  position: fixed;
  top: 30px;
  align-self: center;
  padding: 0 38px;
  animation: fadeIn 1s;
  z-index: 100;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-in-out;
  height: 82px;
  overflow: hidden;
  &.open {
    height: 400px;
    padding-bottom: 15px;
    background: #07070b;
    .content {
      opacity: 1;
    }
  }

  .header {
    min-height: 82px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .hamburger {
      padding: 8px;
      align-self: center;
      border-radius: 7px;
      flex-direction: column;
      display: none;
      text-align: center;
      .line {
        background-color: #bcbec2;
        width: 25px;
        height: 2px;
        display: block;
        margin: 3px auto;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }
      &.active {
        .line:nth-child(2) {
          opacity: 0;
        }
        .line:nth-child(1) {
          -webkit-transform: translateY(10px) rotate(45deg);
          -ms-transform: translateY(10px) rotate(45deg);
          -o-transform: translateY(10px) rotate(45deg);
          transform: translateY(7px) rotate(45deg);
        }
        .line:nth-child(3) {
          -webkit-transform: translateY(-10px) rotate(-45deg);
          -ms-transform: translateY(-10px) rotate(-45deg);
          -o-transform: translateY(-10px) rotate(-45deg);
          transform: translateY(-9px) rotate(-45deg);
        }
      }

      &:hover {
        cursor: pointer;
        background: #23262d;
      }
    }
    .nav-option {
      margin-right: 30px;
      color: #fff;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
      letter-spacing: -0.2px;
      text-decoration: none;
      img {
        opacity: 0.2;
        padding-left: 5px;
      }
    }
    .login-btn {
      border-radius: 100px;
      border: 1px solid #e5e7eb;
      background: #ffffff;
      height: 40px;
      width: 89px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.3s ease-in-out;
      cursor: pointer;

      .title {
        color: black;
        margin-left: 12px;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &:hover {
        background-color: #e9e8e9;
        /* scale: 1.02; */
      }
      svg {
        width: auto;
        height: 33px;
        margin-left: -5px;
      }
    }
  }

  .content {
    padding-top: 20px;
    width: 100%;
    flex-direction: column;
    flex: 1;
    transition: 0.5s ease-in-out;
    opacity: 0;
    .btn {
      border-radius: 0.375rem;
      font-size: 16px;
      font-weight: 600;
      font-family: Poppins;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 44px;
      width: 100%;
      text-decoration: none;
      margin-bottom: 15px;
      transition: 0.2s ease-in-out;
      &.login {
        background: #191a27;
        border: 1px solid #d4e4fe31;
        color: #eff5ffb1;
        &:hover {
          background-color: #232631;
        }
      }

      &.start {
        background: white;
        border: 1px solid white;
        color: black;
        margin-bottom: 20px;
        &:hover {
          background-color: #eae9ea;
        }
      }
    }
    .option {
      width: 100%;
      border-bottom: 1px solid #d4e4fe1a;
      color: #eff5ffb1;
      font-size: 16px;
      font-family: Poppins;
      font-weight: 500;
      height: 57px;
      display: flex;
      align-items: center;
      padding-left: 5px;

      &:last-of-type {
        border-bottom-width: 0;
      }
    }
  }
}

@media (max-width: 425px) {
  nav {
    width: 80%;
    padding: 0 23px;
    .header a img {
      scale: 0.9;
    }
  }
}

@media (max-width: 750px) {
  nav {
    .hamburger {
      display: flex !important;
    }
    .big-screen {
      display: none !important;
    }
  }
}
