.platform-home {

  width: 100%;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 0;
  margin-top: 265px;
  margin-bottom: 145px;


  .content {
    max-width: 1155px;
    display: flex;
    background-size: 40px 40px;

    .left {
      flex: 1;
      height: 500px;
      min-width: 781px;
      display: flex;
      flex-direction: column;
      animation: fadeIn 1.5s, slideIn 1.5s;

      .title {
        font-family: Poppins;
        font-size: 70px;
        font-weight: 500;
        line-height: 90px;
        letter-spacing: -1.8px;
        max-width: 645px;
        padding-top: 15px;

        .gradient {
          margin-right: 30px;
          font-weight: 700;
          background: linear-gradient(135deg, #ffc446 0%, #ff6a07f5 100%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          text-shadow: none;
          -webkit-text-stroke-width: 0;
        }
      }

      .subtitle {
        padding-top: 36px;
        color: #eff5ffb0;
        font-family: Poppins;
        font-size: 18px;
        line-height: 34px;
        max-width: 500px;
      }

      .btn-get-start {
        margin-top: 40px;
        width: 241px;
        height: 52px;
        border-radius: 13px;
        border: 2px solid #4d89f1;
        background: #1c67ea;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Poppins;
        font-size: 20px;
        font-weight: 400;
        cursor: pointer;
        transition: 0.3s ease-in-out;
      }
    }

    .right {
      img {
        margin-top: -30px;
      }
    }
  }


  .solutions {
    background: #fff;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .solutions .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    max-width: 850px;
    margin-bottom: 95px;
  }

  .solutions .header h1 {
    font-size: 40px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    color: #101010;
    margin-top: 17px;
  }

  .solutions .header h3 {
    color: #bcbcbc;
    font-size: 18px;
    font-weight: 200;
    text-transform: uppercase;
  }

  .solutions .container {
    display: flex;
    width: 1200px;
    margin-bottom: 150px;
    margin-left: 50px;
  }

  .solutions .content {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 60px;
  }

  .solutions .content .item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    justify-content: center;
    min-height: 430px;
  }

  .solutions .content .item:last-child {
    margin-bottom: 0;
  }

  .solutions .content .item h3 {
    margin-top: -10px;
    color: #ffc064;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
  }

  .solutions .content .item h2 {
    color: #ff6a07;
    font-weight: 400;
    margin-top: 10px;
    font-size: 28px;
    margin-bottom: 30px;
  }

  .solutions .content .item .txt {
    font-size: 17px;
    line-height: 38px;
    color: #c1c1c1;
    max-width: 525px;
  }

  .solutions .demo-link {
    display: inline-flex;
    font-size: 14px;
    font-weight: 400;
    color: #cbcbcb;
    cursor: pointer;
    transition: all 0.35s cubic-bezier(.165, .84, .44, 1);
    border-radius: 26px;
    margin-top: 27px;
    letter-spacing: 0.5px;
    text-decoration: underline;
  }

  .solutions .footer .demo-link:hover {
    font-weight: 600;
  }

  /* .solutions .footer .open-link:hover img {
  color: #fff;
  transform: translate(9px, 1px);
} */

  .solutions .open-link img {
    margin-left: 10px;
    margin-top: 4px;
  }

  .solutions .images {
    padding-top: 55px;
    position: relative;
  }

  .solutions .images .holder {
    border-radius: 15px;
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    display: flex;
    width: 365px;
    height: 390px;
    background: #7b7b7b;
    padding: 20px;
    border: 1px solid #af9b5c;
  }

  .solutions .images img {
    position: absolute;
    opacity: 0;
    transition: opacity .8s linear;
  }

  .solutions .images img.active {
    transition: opacity .8s ease;
    opacity: 1;
  }

  .solutions .icon-wrap {
    position: absolute;
    top: -45px;
    right: 204px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #616161;
  }