.platform {
  display: flex;
  justify-content: center;


  .container {
    padding: 1%;
  }

  .content {
    display: flex;
    padding: 20px 0;
    width: 100%;
    max-width: 1100px;

    .main {
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;
      margin-right: 100px;

      .home-page {
        flex: 1;
        height: 500px;
        display: flex;
        flex-direction: column;
        animation: fadeIn 1.5s, slideIn 1.5s;
        margin-top: 265px;
        margin-bottom: 315px;

        .title {
          font-family: Poppins;
          font-size: 72px;
          font-weight: 500;
          line-height: 90px;
          letter-spacing: -1.8px;
          max-width: 645px;
          padding-top: 35px;

          .gradient {
            margin-right: 30px;
            font-weight: 700;
            background: linear-gradient(135deg, #ffc446 0%, #ff6a07f5 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-shadow: none;
            -webkit-text-stroke-width: 0;
          }
        }

        .subtitle {
          padding-top: 36px;
          color: #eff5ffb0;
          font-family: Poppins;
          font-size: 18px;
          line-height: 34px;
          max-width: 500px;
        }
      }

      .feature {
        margin-bottom: 140px;

        .title {
          display: inline-block;
          transition: 0.3s;
          font-family: Poppins;
          font-size: 30px;
          font-weight: 400;
          letter-spacing: -1px;
          color: #808080;
          border-bottom: 1px solid transparent;
          ;
        }

        .text {
          transition: 0.3s;
          padding-top: 25px;
          color: #808080;
          font-family: Poppins;
          font-size: 15px;
          font-weight: 400;
          line-height: 35px;
          max-width: 500px;
        }

        /* 
        .learn-more {
          display: flex;

          .txt {
            transition: 0.3s;
            padding-top: 25px;
            color: #808080;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
            line-height: 35px;
          }
        } */

        &.active {
          cursor: pointer;

          .title {
            background: linear-gradient(135deg, #ffc446 0%, #ff781ff5 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }

          .text {
            color: #f6f6f6;
          }

          &:hover {
            .title {
              border-bottom: 1px solid gray;
            }
          }
        }
      }
    }

    .side {
      display: flex;
      align-items: center;
      justify-content: center;
      position: -webkit-sticky;
      position: sticky;
      top: 410px;
      width: 450px;
      height: 140px;

      img {
        display: none;

        &.active {
          display: block;
        }
      }
    }
  }
}

.see-more {
  margin-top: 205px;
}