.third-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #111111;
  padding-top: 130px;
  padding-bottom: 100px;

  .main-title {
    padding-bottom: 100px;
    font-family: Poppins;
    font-size: 45px;
    font-weight: 300;
    line-height: 67.2px;
    letter-spacing: -1.4px;
    color: #e0e0e0;
  }

  section {
    position: relative;
    width: 90%;
    max-width: 1050px;
    margin-bottom: 25px;
    height: 459px;
    display: flex;
    align-items: center;
    transition: 0.3s ease-in-out;
    opacity: 1;
    /* transform: translateY(40px); */

    .text {
      display: flex;
      align-items: start;
      flex-direction: column;
      width: 470px;

      .title {
        font-family: Poppins;
        font-size: 33px;
        font-weight: 400;
        letter-spacing: -1px;
        color: #d1d1d1;

        .gradient {
          font-weight: 500;
        }
      }

      .subtitle {
        padding-top: 25px;
        color: #e3e3e3;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 35px;
      }
    }

    img {
      scale: 0.8;
    }

    &:nth-of-type(2) {
      img {
        margin-left: -100px;
      }

      .text {
        margin-left: auto;
        margin-right: -40px;
      }
    }

    .img-why1 {
      position: absolute;
      width: 605px;
      top: -100px;
      right: -55px;
    }

    .img-why2 {
      width: 540px;
      position: absolute;
      top: 10px;
      left: 15px;
    }

    .img-why3 {
      position: absolute;
      width: 490px;
      top: -20px;
      right: -50px;
    }
  }
}

@media (max-width: 550px) {
  .third-page section span {
    width: 100% !important;
    align-items: center;
  }

  .third-page section span .subtitle {
    font-size: 3.2vw !important;
    width: 90%;
    line-height: 6vw !important;
  }
}

@media (max-width: 450px) {
  .third-page {
    section {
      width: 100%;
    }

    img {
      width: 133% !important;
      scale: 1 !important;
    }

    .section2 img {
      margin-left: -15px !important;
    }

    section span .subtitle {
      font-size: 17px;
      line-height: 20px !important;
      width: 86%;
    }
  }
}

@media (max-width: 1124px) {
  .third-page {
    span .title {
      font-size: 32px !important;
    }

    section span .subtitle {
      padding-top: 20px !important;
      font-size: 17px !important;
      line-height: 34px !important;
    }

    img {
      scale: 0.7 !important;
    }
  }
}

@media (max-width: 1000px) {
  .third-page section {
    flex-direction: column-reverse !important;
    height: auto !important;

    img {
      top: 0;
      left: 0;
      position: static !important;
      margin-top: -90px;
    }

    span {
      align-items: center;
      margin: 0 !important;
      margin-top: -70px !important;

      .subtitle {
        text-align: center !important;
      }
    }

    &:first-of-type {
      margin-top: -100px;
    }

    &:nth-of-type(2) {
      flex-direction: column !important;
    }

    &:last-of-type {
      img {
        margin-top: -110px;
        margin-bottom: 30px;
      }
    }
  }
}

@media (max-width: 385px) {
  .third-page section span {
    .title {
      font-size: 7.5vw !important;
    }

    .subtitle {
      font-size: 16px !important;
      line-height: 30px !important;
    }
  }
}